body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(180, 178, 174);
}

a {
    text-decoration: none;
    color: white;
}


/* Header */

.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

h1 {
    color: white;
    font-family: "Goudy Bookletter 1911", sans-serif;
    letter-spacing: 6px;
    font-size: 28px;
    display: flex;
    align-items: center;
}


.div__logo {
    display: flex;
    margin: 5px 0 5px 10px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo {
    width: 80px;
    height: auto;
    padding: 0 20px 0 0;
    border-radius: 100%;
}

.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: ghostwhite;
    overflow: hidden;
    margin: 1rem;
}

.cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}

.lien__nav {
    padding: 13px 15px 13px 0;
    display: flex;
    align-items: center;
}

.navigation-card {
    display: none;
}

@media screen and (max-width: 425px) {

    .logo {
        width: 50px;
    }

    h1 {
        display: none;
    }

    .navigation-destock {
        display: none;
    }

    /* Bar-nav mobile */
    .navigation-card {
        display: flex;
    }

    .navigation-card {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        /* gap: 30px; */
        background-color: rgb(255, 255, 255);
        /*  padding: 15px 20px; */
        border-radius: 50px;
    }

    .tab {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        overflow: hidden;
        background-color: rgb(252, 252, 252);
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s;
    }

    .tab:hover {
        background-color: rgb(223, 223, 223);
    }

    .svgIcon {
        width: 18px;
        height: auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        /* width: auto; */
    }

    .InputContainer {
        margin: 0 10px;
        width: auto;
    }

    h2{
        font-size: 15px;
    }

}




/* Main */

/* Nos produits__vedettes */

.InputContainer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
    width: 50%;
    margin-left: 300px;
    margin-top: 30px;
}

.input {
    width: 630px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0);
}

.search_svg {
    display: flex;
    flex-direction: row;
}

.labelforsearch {
    cursor: text;
    padding: 7px 12px;
}

.searchIcon {
    width: 13px;
}

.border {
    height: 40%;
    width: 1.3px;
    background-color: rgb(223, 223, 223);
}

.micIcon {
    width: 12px;
}

.micButton {
    padding: 0px 15px 0px 12px;
    border: none;
    background-color: transparent;
    height: 40px;
    cursor: pointer;
    transition-duration: .3s;
}

.searchIcon path {
    fill: rgb(114, 114, 114);
}

.micIcon path {
    fill: rgb(255, 81, 0);
}

.micButton:hover {
    background-color: rgb(255, 230, 230);
    transition-duration: .3s;
}

.div__banniere {
    margin: 30px;
}

.img__banniere {
    width: 100%;
    border-radius: 15px;
}

main {
    position: relative;
    top: 90px;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefdff;
    border-radius: 25px;
    margin: 4rem;
    box-shadow: rgb(88, 87, 87)10px 15px 10px;
}



div#pcProduit {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button.bouton-plus {
    width: 25px;
    border-radius: 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button.bouton-moins {
    width: 25px;
    border-radius: 15px;
    background-color: rgb(255, 7, 7);
    color: white;
    border: none;
    cursor: pointer;
}

.bloc__paiement{
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.rouge {
    margin: 10px;
    color: red;
    font-size: 26px;
    cursor: pointer;
}

button.Paiement{
    margin: 10px;
    color: rgb(247, 245, 245);
    border-radius: 10px;
    background-color: green;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .InputContainer{
        margin: 0 10px;
        width: auto;
    }
}

/* fOOTER */



.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    width: 100%;
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 160px;
}

.social-links {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 425px) {

    .cssbuttons-io {
        font-size: 10px;
    }

    .container1{
        top: 77px;
    }

}